.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  max-width: 50rem;
  min-width: 35rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.3rem;
}

.form-input {
  width: 100%;
  padding: 0.9rem 2rem;
  border-radius: 1em;
  font-size: inherit;
  background: none;
  background-color: #e9e9e9;
  border: none;
}

.form-input.error {
  color: red;
}

.button-form {
  font-size: 1.7rem;
  width: calc(100%);
  height: 3em;
  border-radius: 0.8em;
  border: none;
  margin-bottom: 0.4em;
  cursor: pointer;
}

.button-form.save {
  background-color: rgb(138, 234, 255);
}

.button-form.delete {
  background-color: lightcoral;
}
