.three-dot-button {
  margin-right: 1rem;
  cursor: pointer;
  padding: 0.1rem 0.6rem;
}

.dot {
  background-color: rgb(180, 180, 180);
  width: 0.5rem;
  aspect-ratio: 1;
  margin-bottom: 0.2rem;
  border-radius: 1rem;
}

.pop-up-menu {
  position: absolute;
  right: 1.7rem;
  top: -0.9rem;
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem 0;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.089);
}

/* .pop-up-menu.active {
    display: flex;
} */

.pop-up-option {
  cursor: pointer;
  color: #333;
  padding: 0.4rem 2rem;
}

.pop-up-option:hover {
  background-color: #eee;
}
